@{
    ViewData["Title"] = "Iniciar Sesion";
}
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/formInicio.css" rel="stylesheet" />

</head>
<body>
    <div class="container-form">
        <p class="titulo"> Iniciar Sesion </p>

        <form asp-action="Login" method="post">

            <label for="fname">Usuario</label>
            <input type="text" id="fname" name="usuario" placeholder="Ingrese usuario...">


            <label for="lname">Contraseña</label>
            <input type="password" id="lname" name="contra" placeholder="Ingrese contraseña..">

            <div class="row">
                <input style="margin-top: 20px;" type="submit" value="Iniciar Sesion">
            </div>
        </form>

        <p style="color:#971e1e; text-align:center;">@ViewBag.Error</p>
    </div>

</body>

</html>


