@{
    ViewData["Title"] = "Registrarse";
}
<html>
<head>
    <link href="~/css/formInicio.css" rel="stylesheet" />
</head>
<body>
    <div class="container-form">
        <p class="titulo"> Registrarse </p>
        <form asp-action="Registrarse" method="post">
            <label>Usuario</label>
            <input type="text" name="usuario" placeholder="Ingrese usuario..">
            <div class="row">
                <div class="col">
                    <label>Contraseña</label>
                    <input type="password" name="contraseña" placeholder="Ingrese contraseña..">
                </div>
                <div class="col">
                    <label>Repetir contraseña</label>
                    <input type="password" name="contraseñanueva" placeholder="Ingrese contraseña nuevamente..">
                </div>
            </div>
            <label>Email</label>
            <input type="email" name="email" placeholder="Ingrese email..">
            <div class="row">
                <div class="col">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="fechan">
                </div>
                <div class="col">
                    <label>DNI</label>
                    <input type="text" name="dni" placeholder="Ingrese dni..">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Nombre</label>
                    <input type="text" name="nombre" placeholder="Ingrese nombre..">
                </div>
                <div class="col">
                    <label>Apellido</label>
                    <input type="text" name="apellido" placeholder="Ingrese apellido..">
                </div>
            </div>
            <div class="row">
                <input type="submit" id="registr" value="Save">
            </div>
        </form>
        <p style="color:#971e1e; text-align:center;">@ViewBag.Error</p>
    </div>
</body>
</html>