@{
    ViewData["Title"] = "Home";
}

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <img class="img-index" src="https://clueylearning.com.au/wp-content/uploads/2019/08/most-effective-way-to-study-according-to-science.jpg" />
        <div class="adc"> ¡APRENDIENDO DESDE CASA!</div>
    </div>
</body>
